/* html {
    box-sizing: border-box;
} */

/* *,
*::before,
*::after {
    box-sizing: inherit;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 0;
}



body {

    font-family: 'Roboto', sans-serif;

}

:root {
    --blue: #2196F3;
    --black: #212121;
    --white: #FFFFFF;
    --black-grey: #2F303A;
    --grey: #F5F4FA;
    --white-grey: #757575;
}

span {
    color: var(--blue);


}

.list {
    list-style: none;

}

.link {
    text-decoration: none;
}

.header-item {
    cursor: pointer;
}

.contener {
    /* margin-left: auto;
    margin-right: auto; */
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
}

.btn:hover,
.btn:focus {
    color: white;
    background-color: blue;
    cursor: pointer;
    /* text-decoration: underline; */
}




/* -------Header------ */

.header-contener {
    display: flex;

}

.header-content {
    display: flex;
    align-items: center;
}

.header-menu {
    display: flex;
    margin-left: 90px;

}

.header-right {
    margin-left: auto;
    display: flex;
}

.header-contakt>a {
    color: var(--white-grey);
}


.header-contener .header-list+.header-list {
    margin-left: 50px;
}

.header-right .header-contakt+.header-contakt {
    margin-left: 50px;
}


.header-studio {
    margin-left: 90px;
    display: block;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;


}

.header-item {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;

    letter-spacing: 2%;
    padding-top: 25px;
    padding-bottom: 25px;

    color: #212121;
}

.header-item:focus,
.header-item:hover {
    color: white;
    background-color: blue;
    cursor: pointer;
}

/* 
.header-list:not(:last-child) {
    /* margin-right: 50px; */
}

*/
/* --------//Hero---------- */

/* .hero-content {
    outline: 2px solid tomato;
}

.hero-usluga {
    background-color: #2F303A;
    /* width: 1200px; */
/* height: 600px; */
/* display: flex; */
outline: 2px solid tomato;
text-align: center;
*/
/* }

.hero-efectivnosti {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;

} */

/* .btm {

    padding: 11px 20px;
    display: inline-block;
    color: var(--white);
    background-color: #2196F3;
    border-radius: 4px;
    height: 50px;
    min-width: 200px;
    margin-bottom: 200px;
    margin-top: 40px;
}

.hero-botton {
    margin-bottom: 270px;
} */

/* .hero-section {
    display: flex;
    margin-left: -30px;
    flex-wrap: wrap;
}

.hero-text {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
} */


/* .hero-item {
    margin-top: 10px;
    width: 270px;
    height: 75px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;

} */

/* ---------HERO PORTFOLIO------------ */

/* .btn-menu:hover,
.btn-menu:focus {
    color: white;
    background-color: blue;


} */

.hero-contener {
    display: block;
}

.hero-menu {
    display: flex;
    justify-content: center;
    padding-top: 126px;
    ;

}

.hero-contener .hero-spisok+.hero-spisok {
    margin-left: 8px;
}

/* ---------USLUG PORTFOLIO------------ */

.uslug-contener {
    display: block;
}

.uslug-menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    padding-top: 50px;
}

.uslug-vubora {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    align-items: center;
    height: 404px;
}

.title-foto {
    margin-top: 20px;
}

.title-text {
    margin-top: 4px;
}

/* ---------WORK------------- */

.work-info {
    padding-top: 90px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    color: #FFFFFF;
    line-height: 1.16;
    text-align: center;
    vertical-align: top;
    letter-spacing: 3%;
    color: #212121;
}



.work-list,
.work-logo {
    display: flex;
    flex-wrap: wrap;
}

.work-list {
    margin-left: -20px;
    margin-bottom: -20px;
}

/* .work {
    align-items: center;
} */

.work-item {
    /* width: calc((100% - 60) /3); */
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}



/* ---------------COMANDA---------- */

/* .foto-comand {
    outline: 2px solid teal;
    /* flex-basis: calc(100% - 2 -30px); */
/* margin-left: 30px; */
}

*/
/* .comands-prais {
    display: flex;
    width: 270px;
    height: 480px;
    margin-left: -20px;
} */

/* .comando-text {
    padding-top: 188px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    color: #FFFFFF;
    line-height: 1.16;
    text-align: center;
    vertical-align: top;
    letter-spacing: 3%;
    color: #212121;
}

.comanda-list {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
}
 */





/* ------FOOTER------- */

.footer-text {
    margin-bottom: 20px;
    padding-top: 60px;
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
    vertical-align: Top;
    letter-spacing: 3%;
    color: var(--white);
}

.footer-adress {
    font-style: Regular;
    font-size: 14px;
    line-height: 1.33;
    text-align: left;
    vertical-align: Top;
    letter-spacing: 2%;
}

.footer {
    background-color: #2F303A;
    outline: 2px solid tomato;
}

.footer-adress {
    margin-bottom: 10px;
}

.footer-list .footer-adress>a {
    color: var(--white);
}

/* ---------FOOTER PORTFOLIO--------------- */

.footer {
    height: 300px;

}

.footer-web {
    margin-bottom: 20px;
    padding-top: 60px;
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
    vertical-align: Top;
    letter-spacing: 3%;
    color: var(--white);
}

.footer {
    background-color: #2F303A;
    outline: 2px solid tomato;
    /* color: white; */
}

.footer-item {
    margin-top: 10px;

}

.footer-list {
    color: var(--white);
}

.footer-list .footer-item>a {
    color: var(--white);
}