/* html {
    box-sizing: border-box;
} */

/* *,
*::before,
*::after {
    box-sizing: inherit;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 0;
}



body {

    font-family: 'Roboto', sans-serif;

}

:root {
    --blue: #2196F3;
    --black: #212121;
    --white: #FFFFFF;
    --black-grey: #2F303A;
    --grey: #F5F4FA;
    --white-grey: #757575;
    --grey-white: #E5E5E5;
    --cards-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --card-shadow-heder: rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4);
}

span {
    color: var(--blue);


}

.list {
    list-style: none;

}

.link {
    text-decoration: none;
}

.header-item {
    cursor: pointer;
}

.contener {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    /* outline: 2px solid tomato; */
}

.btn:hover,
.btn:focus {
    color: white;
    background-color: blue;
    cursor: pointer;
    /* text-decoration: underline; */
}


img {
    display: block;
    max-width: 100%;
    height: auto;

}



/* -------Header------ */

.header-contener {
    display: flex;

}

.header-content {
    display: flex;
    align-items: center;

}

.header-menu {
    display: flex;
}

.header-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

/* .header-contakt::before {
    display: inline-flex;

    content: "";
    width: 40px;
    height: 40px;
    margin-right: 10px;
    outline: 2px solid red;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.header-mail::before {
    background-image: url(../images/svg/konvert.svg);

}

.header-tel::before {
    background-image: url(../images/svg/mobal.svg);
} */




.header-contakt>a {
    color: var(--white-grey);
}

.header-studio::before {
    contain: "";
    display: block;
    width: 67px;
    height: 2px;
    background-color: red;
}

/* .heder-imag {
    display: flex;
    align-items: center;
} */


.header-contener .header-list+.header-list {
    margin-left: 50px;
}


.header-right .header-contakt+.header-contakt {
    margin-left: 50px;
}


.header-studio {
    display: block;
    padding-top: 25px;
    padding-bottom: 24px;
    margin-right: 93px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;


}

.header-item {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;

    letter-spacing: 2%;
    padding-top: 25px;
    padding-bottom: 25px;



    color: #212121;
}

.header-item:focus,
.header-item:hover {
    color: white;
    background-color: blue;
    cursor: pointer;
}

.header-tel {}




/* 
.header-list:not(:last-child) {
    /* margin-right: 50px; */
/* } */


/* --------//Hero---------- */



.hero-content {
    background-color: white;
}

.header {
    border-bottom: 1px solid #ECECEC;
}


.hero-usluga {
    /* outline: 2px solid tomato; */
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/comand-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.hero-efectivnosti {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;

}


.btm {

    padding: 11px 20px;
    display: inline-block;
    color: var(--white);
    background-color: #2196F3;
    border-radius: 4px;
    height: 50px;
    min-width: 200px;
    margin-bottom: 200px;
    margin-top: 40px;
}

.hero-botton {
    margin-bottom: 270px;
}

.hero-section {
    margin-top: 94px;
    display: flex;

    margin-left: -30px;

}

.hero-text {
    flex-basis: calc((100% - 3 * 30px) /3);
    margin-left: 30px;
}

.hero-text {
    width: 270px;
    /* height: 120px; */
}

.hero-h3 {
    margin-top: 30px;
}

.hero-list {

    background-color: var(--grey);
    /* background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */
}

.hero-logo {
    /* align-items: center; */
    /* margin-left: 50px; */
}



/* .hero-text::before {
    display: block;
    content: "";

    height: 120px;
    background-position: center;
    background-size: content;
    background-repeat: no-repeat;
}

.hero-logo::before {
    background-color: var(--grey);
    background-image: url(../images/svg/antenna\ 1antena.svg);
}

.hero-logo1::before {
    background-color: var(--grey);
    background-image: url(../images/svg/clock\ 1clock.svg);
}

.hero-logo2::before {
    background-color: var(--grey);
    background-image: url(../images/svg/diagram\ 1pk.svg);

}

.hero-logo3::before {
    background-color: var(--grey);
    background-image: url(../images/svg/astronaut\ 1astronavt.svg);

} */

.hero-item {
    margin-top: 10px;
    width: 270px;
    height: 75px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;

}

/* ---------HERO PORTFOLIO------------ */

/* .btn-menu:hover,
.btn-menu:focus {
    color: white;
    background-color: blue;
} */


.hero-vubor {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* .hero-contener {
    margin-bottom: 50px;
     display: block; 
} */

.hero-menu {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.hero-contener .hero-spisok+.hero-spisok {
    margin-left: 8px;
}

/* ---------USLUG PORTFOLIO------------ */

.uslug-menu {
    display: flex;
    flex-wrap: wrap;

    margin-left: -30px;
    margin-bottom: -30px;
}

/* .uslug-vubora {
    width: 370px;
} */

.uslug-list:focus,
.uslug-list:hover {
    box-shadow: var(--cards-shadow);
}


.title-text {
    margin-bottom: 20px;
}

.uslug-tumba {
    padding-left: 24px;
    padding-right: 24px;

    border: 1px solid #EEEEEE;
}

.uslug-menu>.uslug-vubora {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}




/* ---------WORK------------- */

.work-foto {
    background-color: #FFFFFF;
    padding-bottom: 94px;
}

.work-info {
    padding-top: 90px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    color: #FFFFFF;
    line-height: 1.16;
    text-align: center;
    vertical-align: top;
    letter-spacing: 3%;
    color: #212121;
}



.work-list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* max-width: 100%; */
    margin-left: -30px;

}

.work-cards {
    width: 370px;
    height: 294px;

}

.work-logo {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin-left: 30px;
    /* outline: 2px solid red; */
}


/* ---------------COMANDA---------- */

.comands-prais {
    display: flex;
    flex-wrap: wrap;

    margin-left: -30px;
}

.comanda-contener {
    background-color: var(--grey);
}

.comanda-list {
    flex-basis: calc((100% - 4 * 30px) / 4);
    margin-left: 30px;
    width: 270px;
}

.comanda-content {
    display: block;
    padding: 10px;
    text-align: center;
}

.comanda-socials {
    display: flex;
    align-items: center;
    justify-content: center;

}

.comanda-socials,
.socials-item {
    margin-left: 10px;
}

.socials-icon {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: red;
    color: var(--white);
}

/* .socials-item {
 display: flex; 
flex-wrap: wrap;
list-style: none;
flex-basis: calc((100% - 4 * 10px) / 4);
margin-left: 10px;
} */

.comanda-cards {
    box-shadow: var(--cards-shadow);
}


.comando-text {
    padding-top: 188px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    color: #FFFFFF;
    line-height: 1.16;
    text-align: center;
    vertical-align: top;
    letter-spacing: 3%;
    color: #212121;
}

.title-foto {
    margin-top: 30px;
}

.title-text {
    margin-top: 10px;
}


.comanda-item {
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-basis: calc((100% / 4 * 10px)/ 4);
    margin-right: 20px; */
}

/* .comanda-seti {
    flex-basis: calc((100% / 4 * 10px)/ 4);
    margin-left: 10px;
} */




/* --------------CLIENT----------- */

/* .client {
    display: block;
} */

.client {
    padding-bottom: 20px;

}

.client-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;

}

.client-item {
    width: 170px;
    height: 92px;
    flex-basis: calc(100% / 6 - 30px);
    margin-left: 30px;

    border: 1px solid var(--white-grey);
    list-style: none;

}

.client-logo {

    flex-grow: ;
    /* align-items: center; */

    /* background-position: center; */
    /* margin: 20px 10px 20px 10px; */

}

.client-block {
    margin-left: auto;
    margin-right: auto;
    /* align-items: center;
    padding: 20px;
    margin-left: 29px; */
    /* background-position: center; */
}
















/* ------FOOTER------- */

.footer-text {
    margin-bottom: 20px;
    padding-top: 60px;
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
    vertical-align: Top;
    letter-spacing: 3%;
    color: var(--white);
}

.footer-adress {
    font-style: Regular;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 2%;
}

.footer {
    background-color: #2F303A;
    outline: 2px solid tomato;
}

.footer-adress {
    margin-bottom: 10px;
}

.footer-adress-tel {
    padding-bottom: 60px;

}

.footer-list .footer-adress-tel>a {
    color: var(--white);
}


.footer-list .footer-adress>a {
    color: var(--white);
}

.footer-seti {
    display: flex;

}



.footer-list-item {
    display: flex;
    width: 44px;
    height: 44px;

    align-items: center;
    justify-content: center;

    background-color: aqua;
    border-radius: 50%;
}


/* -------Самолетик на кнопке-------- */

.footer-bottom {
    display: inline-flex;
    align-items: center;
    font-size: 14px;

    background-color: #2196F3;
    color: white;
    width: 180px;
    height: 50px;

}

.footer-bottom::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    /* background-color: red; */
    background-image: url(../1.png);

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.footer-bottom::after {
    content: "";
    width: 20px;
    height: 20px;
    margin-left: 10px;
    /* background-color: red; */
    background-image: url(../1.png);

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}











/* ---------FOOTER PORTFOLIO--------------- */

.footer {
    height: 300px;

}

.footer-web {
    margin-bottom: 20px;
    padding-top: 60px;
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
    vertical-align: Top;
    letter-spacing: 3%;
    color: var(--white);
}

.footer {
    background-color: #2F303A;
    outline: 2px solid tomato;
    /* color: white; */
}

.footer-item {
    margin-top: 10px;

}

.footer-list {
    color: var(--white);
}

.footer-list .footer-item>a {
    color: var(--white);
}