/* html {
    box-sizing: border-box;
} */

/* *,
*::before,
*::after {
    box-sizing: inherit;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 0;
}

.utl {
    outline: 2px solid tomato;
}

body {

    font-family: 'Roboto', sans-serif;

}

:root {
    --blue: #2196F3;
    --black: #212121;
    --white: #FFFFFF;
    --black-grey: #2F303A;
    --grey: #F5F4FA;
    --white-grey: #757575;
}

span {
    color: var(--blue);


}

.list {
    list-style: none;

}

.link {
    text-decoration: none;
}

.header-item {
    cursor: pointer;
}

.contener {
    /* margin-left: auto;
    margin-right: auto; */
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid tomato;
}



/* -------Header------ */

.header-contener {
    display: flex;

}

.header-content {
    display: flex;
    align-items: center;
}

.header-menu {
    display: flex;
    margin-left: 90px;

}

.header-right {
    margin-left: auto;
    display: flex;
}

.header-contakt>a {
    color: var(--white-grey);
}


.header-contener .header-list+.header-list {
    margin-left: 50px;
}

.header-right .header-contakt+.header-contakt {
    margin-left: 50px;
}


.header-studio {

    display: block;
    /* text-align: center; */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    /* margin-right: 35px; */

}

.header-item {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    /* text-align: center; */
    letter-spacing: 2%;
    padding-top: 25px;
    padding-bottom: 25px;

    color: #212121;
}

.header-item:focus,
.header-item:hover {
    color: white;
    background-color: blue;
    cursor: pointer;
}


.header-list:not(:last-child) {
    /* margin-right: 50px; */
}

.btn:hover,
.btn:focus {
    color: white;
    background-color: blue;
    cursor: pointer;
    /* text-decoration: underline; */
}


/* --------//Hero---------- */

.hero-content {
    outline: 2px solid tomato;


    /* width: 1230px; */
    /* display: block; */
    /* margin-right: 15px; */
}

.hero-tex {}


.hero-usluga {
    background-color: #2F303A;
    /* width: 1200px; */
    /* height: 600px; */
    /* display: flex; */
    outline: 2px solid tomato;
    text-align: center;


}

.hero-efectivnosti {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;

}

.btm {
    /* align-items: center; 
     padding: 11px 20px; */
    display: inline-block;
    color: var(--white);
    background-color: #2196F3;
    border-radius: 4px;
    height: 50px;
    min-width: 200px;
    margin-bottom: 200px;
    margin-top: 40px;
    /* text-align: center; */
}

.hero-botton {
    /* margin-top: 220px; */

    margin-bottom: 270px;
}



.hero-section {
    display: flex;

    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* margin-left: 30px;
    padding-top: 75px;
    padding-bottom: 100px; */
    /* display: flex; */
    /* justify-content: space-around; */
    /* width: 270px;
  height: 75px; */
}

/* .hero-text>p {
    padding-bottom: 10px;
} */

.hero-section li p {
    padding-top: 10px;
    width: 270px;
    height: 75px;
}

.hero-section .hero-text {
    /* width: 270px;
    height: 75px; */
    display: block;



    background-color: tomato;
    /* padding-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121; */

}

.hero-text {
    /* width: calc((100% - 30) / 3); */
    /* flex-basis: calc((100% -90) / 3); */
    margin-left: 30px;

}


.hero-text:nth-child(1) {
    margin-left: 0px;
}


/* .hero-text:nth-last-child(-n + 3) {
    margin-left 0; */
}

.hero-item {
    padding-top: 10px;
    width: 270px;
    height: 75px;
    /* margin-bottom: 15px; */


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;

}




/* ---------WORK------------- */

.work-info {
    text-align: center;
    font-size: 36px;
    color: #FFFFFF;
    line-height: 1.16;
    text-align: center;
    vertical-align: top;
    letter-spacing: 3%;
    color: #212121;
}

.comando-text {
    text-align: center;
    font-size: 36px;
    color: #FFFFFF;
    line-height: 1.16;
    text-align: center;
    vertical-align: top;
    letter-spacing: 3%;
    color: #212121;
}

.work-list,
.work-logo {
    display: flex;
    /* margin: 10px; */
}

.work-logo {
    /* flex-basis: calc(100% / 3 - 50px); */
    /* margin-left: 50px; */

}

.work-item {
    width: calc((100% - 60) /3);
    /* flex-basis: calc(100% / 3 - 20px); */
    margin-left: 20px;
    margin-bottom: 20px;
}

/* .work-item:nth-child(-n +3) {
    margin-right: 0;
} */

/* .work-foto {
    display: flex;
    justify-content: center;
} */


/* ---------------COMANDA---------- */

.foto-comand {
    /* flex-basis: calc(100% - 2 -30px); */
    margin-left: 30px;
}





/* ------FOOTER------- */

.footer-text {
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
    vertical-align: Top;
    letter-spacing: 3%;
}

.footer-adress {
    font-style: Regular;
    font-size: 14px;
    line-height: 1.33;
    text-align: left;
    vertical-align: Top;
    letter-spacing: 2%;
}

.footer {
    /* width: 1600px; */
    /* height: 252px; */
    background-color: #2F303A;
    outline: 2px solid tomato;
}